@charset "utf-8";
/* CSS Document */
body {
padding: 0;
margin: 0;
font-family: classico-urw, sans-serif;

}

/* Frontpage start */
.backimg{
	background-image: url("../img/Backimg.png");
	background-repeat: no-repeat;
}

.logo-front{
	display: block;
  	margin-left: auto;
  	margin-right: auto;
	margin-top: 60px;

}
.title{
	text-align: center;
	color: white;
	font-size: 100px;
	margin-top: 100px;
	font-family: Classico URW;
}
.undertitle{
	text-align: center;
	color: white;
	font-size: 70px;
	margin-top: 30px;
	font-family: Classico URW;
}
/* Frontpage end */

/* Various text start */
.topic{
	text-align: center;
	font-size: 50px;
	font-family: Classico URW;
}
.standard-text{
	text-align: center;
	font-size: 25px;
	margin-top: 30px;
	font-family: Classico URW;

}
/* Various text end */

.topnavigation{
	overflow: hidden;
}
.topnavigation a{
	float: right;
	text-align: center;
	text-decoration: none;
	color: white;
	font-size: 25px;
	padding: 14px 16px;
	margin-right: 50px;
	font-family: Classico, sans-serif;
}
.topnavigation a.active{
	float: left;
	margin-left: 70px;
}

/* Om lokalristeriet*/
/* Header image*/
.header-image {
	background-image: url("../img/coffee.png");
	height: 50vh;
	background-position: center;
	background-repeat: no-repeat;
	background-size: cover;
	position: relative;
}

.header-text{
	text-align: center;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  color: white;
}

/* Om Lokalristeriet */
.about-section {
	display: flex;
 	flex-direction: row;
 	font-size: 18px;
	line-height: 1.5;
	padding: 130px;
}

.about-text {
	margin-right: 30px;
}

.about-img {
	margin-left: 30px;
	height: 400px;
  width: 50%;
}

/* Vores fokuspunkter */
.value-section {
	padding-bottom: 30px;
	text-align: center;
	padding-left: 130px;
	padding-right: 130px;
	font-size: 18px;
	line-height: 1.5;
}

.fokuspunkt {
	justify-content: space-between;
	align-items: center;
	display: flex;
 	flex-direction: row;
}


.value-section .fokuspunkter {
	display: flex;
 	flex-direction: row;
 	font-size: 18px;
	line-height: 1.5;
	padding-top: 130px;
	padding-left: 130px;
	padding-right: 130px;
}

/* Vores historie sektion*/
.historie-section {
	display: flex;
 	flex-direction: row;
 	font-size: 18px;
	line-height: 1.5;
	padding: 130px;
}

.historie-text {
	margin-right: 30px;
}

.historie-img {
	margin-left: 30px;
	height: 400px;
  width: 50%;
}

/* Økonomi og bæredygtighed */
.economy-section {
	display: flex;
 	flex-direction: row;
 	font-size: 18px;
	line-height: 1.5;
	padding-left: 130px;
	padding-right: 130px;
	padding-top: 10px;

}

.economy-text {
	margin-right: 30px;
}

.economy-img {
	margin-right: 30px;
	height: 400px;
  width: 50%;
}

/* Vores risterier*/
.vores-risterier {
	text-align: center;
	padding-top: 60px;
}
.risteri {
	justify-content: space-between;
	align-items: center;
	display: flex;
 	flex-direction: row;
	padding-left: 130px;
	padding-right: 130px;
}

/* Leverandører til */
.leverandoer {
	text-align: center;
	padding-top: 60px;
}
.leverandoer-img {
	justify-content: space-between;
	align-items: center;
	display: flex;
 	flex-direction: row;
	padding-left: 130px;
	padding-right: 130px;
}

.coffeebutton {
	display: block;
	width: 10%;
  	background-color: #3F2E29;
  	border: none;
	border-radius: 7px;
  	color: white;
  	padding: 15px 32px;
	font-family: Classico URW;
  	text-align: center;
  	text-decoration: none;
  	font-size: 30px;
  	margin-top: 30px;
  	cursor: pointer;
}
/*Footer Start */
.footer {
	background-image: url("../img/pexels-juan-pablo-serrano-arenas-894695.png"), url("../img/Path 233.png");
	background-blend-mode: darken;
	background-size: cover;
   	position:relative;
   	width: 100%;
	height: 700px ;
   	color: white;
   	text-align: center;
		margin-top: 100px;
}
.footer-container{
	display: grid;
	grid-template-columns: auto auto;
	padding: 30px;
}
/*Footer End */
