@charset "utf-8";
/* CSS Document */
body {
padding: 0;
margin: 0;
font-family: classico-urw, sans-serif;
}

/* START SIDEN - OM LOKALRISTERIET*/
/*OM SEKTION*/
.page-content {
  width: 80vw;
  margin: 0 auto;
  margin-top: 4rem;
}

.page-content h1 {
  text-align: center;
}

.about-column {
  float: left;
  width: 60%;
  padding: 30px;
  box-sizing: border-box;
}

.about-row {
  content: "";
  display: table;
  clear: both;
  flex-direction: column;
  padding: 30px 0 80px 0;
}

.about-row {
  display: flex;
}

.about-column {
  flex: 50%;
}

.about-img {
  width:40%;
  float: left;
  object-fit: cover;
}

.about-column h1{
  text-align: center;
}

.about-column img{
  width: 90%;
  justify-content: center;
  padding-top: 20px;
}

@media screen and (max-width: 600px) {
  .page-content {
    width: 100vw;
  }
